<div class="box">
  <div class="box-header with-border">
    <h3 class="box-title">Courses (16)</h3>
  </div>

  <div class="box-body">
    Trainee(11)
    <p class="text-muted">
      B.S. in Computer Science from the University of Tennessee at Knoxville
    </p>

    <hr>


    <p class="text-muted">Malibu, California</p>

    <hr>
  </div>
  <div class="box-footer">
  </div>
</div>
