<div class="info-box bg-green">
  <span class="info-box-icon">
  </span>
  <div class="info-box-content">
    <span class="info-box-text">
      <%= task.name %>
    </span>
    <div class="progress">
      <div class="progress-bar"></div>
    </div>
    <span class="progress-description">
      <%= task.description %>
    </span>
    <%= link_to t("tasks.destroy.btn_delete"), [:suppervisor, task], method: :delete,
      data: { confirm: t("tasks.destroy.confirm") }, class: "label label-warning pull-right" %>
    <%= link_to t("tasks.edit.btn_edit"), edit_suppervisor_task_path(task),
      class: "label label-warning pull-right" %>
  </div>
</div>
