<% provide :title, t("users.index.title_all_trainees") %>
<h1><%= t "users.index.h1_all_trainees" %></h1>
<div class="row">
  <table class="table_custom">
    <tr class="row_custom header">
      <% displayed_column_for_user.each do |item| %>
        <th class="cell_custom"><%= item.capitalize %></th>
      <% end %>
    </tr>
    <%= render partial: "user", collection: @users, as: :user%>
  </table>
  <%= will_paginate @users %>
</div>
