<li>
  <%= link_to course.name, course %>
  <% if current_user.suppervisor %>
    | <%= link_to t(".delete"), course, method: :delete, data: { confirm: t(".confirm") } %>
  <% end %>
  <p><%= course.description %></p>
</li>
