@import 'bootstrap-sprockets';
@import 'bootstrap';

/* mixins, variables,etc. */

$gray-medium-light: #eaeaea;
$gray-light: #777;
$gray: #555;
$gray-darker: #222;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.ls-all {
  list-style: none;
  margin: 0;
  margin-top: 5px;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-light;
  }
}

img {
  width: 80px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: white;
  text-decoration: none;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* Course index */
.ls-sub {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    border-bottom: 1px solid $gray-light;
  }
  a {
    float: left;
    margin-top: 30px;
  }
  form {
    float: right;
  }
  p {
    font-size: 22px;
    color: red;
    margin-top: 34px;
    margin-bottom: 0px;
    text-align: center
  }
  .btn {
    border: 0 none;
    border-radius: 5px;
    margin-top: 16px;
  }
}
.dtls-c {
  margin-top: 20px;
  table {

    width: 100%;
  }
  th {
    text-align: center;
    border: 1px solid;
  }
  td {
    width: 33.3333%;
    border: 1px solid;
  }
  tr {
    border: 1px solid;
  }
}
/* View Subject in Course*/
.dscroll {
  overflow: hidden;
  width: 72%;
  margin-right: 10px;
  float: left;
}
.dsuser {
  float: right;
}
.dbox-body {
  margin-top: 10px;
}
.col-list-subjects {
  padding-right: 0;
  padding-left: 0;
  width: 90%;
}
.col-list-subjects .infor {
  float: right;
  width: 82%;
  color: #000;
}
.col-list-subjects .subject-timeline {
  padding-left: 55px;
  width: 100%;
}
.timeline {
  position: relative;
  margin: 0 0 30px 0;
  padding: 0;
  list-style: none;
}
.timeline > li {
    position: relative;
    margin-right: 10px;
    margin-bottom: 15px;
}
.timeline-label {
  font-weight: 600;
  margin-bottom: 15px;
  padding: 5px;
  padding-bottom: 15px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  position: relative;
}
.div-status {
  position: relative;
  float: left;
  font-size: 0;
  height: 100%;
  left: -32px;
  margin-top: 45px;
  width: 15px;
}
.div-status .status {
    border-radius: 100%;
    height: 25px;
    position: absolute;
    width: 25px;
    z-index: 1000;
}
.div-status .status-finished {
  background-color: #f9c1b3;
  border: solid 3px #fb6e52;
}

.div-status .status-init {
    background-color: #58fa82;
    border: 3px solid #04b404;
}
.div-status .status-in_progress {
    background-color: #f2fb9de6;
    border: 3px solid #eaf900;
}
.subject-body {
  background-color: #e1e4e6cc;
  border: 1px solid #D9D9D9;
  border-radius: 5px;
  box-shadow: 1px 2px 1px #adadad;
  margin: 5px;
  margin-right: 0;
  min-height: 100px;
  padding: 5px 2px;
  transition: all .3s;
}
.subject-name {
  color: #21abc7;
  font-size: 20px;
  font-weight: 300;
  margin: 4px 0;
}
.td-subject-description {
  color: #404040;
}
.start_date_label {
  background-color: #04b404 !important;
  font-size: 100% !important;
}
.end_date_label {
  background-color: #fb6e52 !important;
  margin-left: 46px !important;
}
.label-status {
  border-radius: 3px;
  color: #fff;
  font-weight: bold;
  padding: 20px;
  cursor: pointer;
}
.status-in_progress {
  background-color: #43bce9;
}
.status-init {
  background-color: #04b404;
}
.status-finish {
  background-color: #fb6e52;
}
.status-btn-dis {
  cursor: not-allowed;
  pointer-events: none;
  background-color: #a19b9b;
}
/* CSS Select Date*/
.select-date {
  width: 47px;
}
